.welcomModal{
    color: black;
    display: flex;
    flex-direction: column;
}
.inputs{
    display: flex;
    justify-content: center;
    gap:22px;
    
    input{
        width: 15%;
        text-indent: 5px;
        border: 2px solid #d1d6db;
        border-radius: 4px;
       
    }
  
}
.buttons{
    display: flex;
    justify-content: center;
    gap:22px;
   padding-top: 10px;

    button{
        width: 10%;
        height: 33px;
        color: #6256e3;
        font-weight: 700;
        border-color: #6256e3;
        border-radius: 4px;
        min-width: 100px;
    }
}